<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello thymeleaf</title>
</head>
<body>

<h1 th:text="${gender ? '男' : '女'}"></h1>

<hr>

<h1 th:text="${name}"></h1>
<h1 th:text="${'name'}"></h1>

<hr>

<h1 th:text="${name}" th:if="${#strings.length(name) > 6}"></h1>

<h1>hello,<span th:text="${name}">这里是标签体</span></h1>
<h1>hello,<span th:text="${#strings.toUpperCase(name)}">这里是标签体</span></h1>

<hr>
<h1>hello,<span th:text="${#strings.toUpperCase(name)}">这里是标签体</span></h1>
<h1>hello,<span th:text="${'姓名：' + #strings.toUpperCase(name) + '。'}">这里是标签体</span></h1>
<h1>hello,<span th:text="|姓名：${#strings.toUpperCase(name)}。|">这里是标签体</span></h1>
<hr>

<h1>hello,<span th:utext="${name}">这里是标签体</span></h1>
<div th:text="${htmlCode}">我是一个DIV</div>
<div th:utext="${htmlCode}">我是一个DIV</div>

<a th:href="${companyUrl}" href="http://www.baidu.com" th:text="${company}">百度</a>
<br>
<a th:href="${companyUrl}" href="http://www.baidu.com" th:style="${style}" style="color:green" th:text="${company}">百度</a>
<br>
<a th:attr="href=${companyUrl},style=${style}" href="http://www.baidu.com"  style="color:green" th:text="${company}">百度</a>

<br>
<img src="/myweb/dog1.jpg" th:if="${display}" />

<br>
<img th:src="@{${imgUrl}}" th:if="${display}" />

</body>
</html>