<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>动态表格示例</title>
  <link rel="stylesheet" th:href="@{'/style.css'}">
</head>
<body>
<div class="container">
  <h1>动态表格</h1>

  <form id="add-row-form">
    <input type="text" id="name" placeholder="姓名" required>
    <input type="email" id="email" placeholder="电子邮件" required>
    <button type="submit">添加行</button>
  </form>

  <table>
    <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>年龄</th>
      <th>性别</th>
      <th>简介</th>
      <th>居住地</th>
      <th>状态信息</th>
    </tr>
    </thead>
    <tbody id="table-body">

    <tr th:object="${user}" th:each="user,state : ${users}">
      <td>1</td>
      <td th:text="*{name}">张三</td>
      <td th:text="*{age}">30</td>
      <td th:text="${user.gender ? '男' : '女'}">男</td>
      <td th:if="${#strings.isEmpty(user.desc)}" th:text="'你这个人很懒'"></td>
      <td th:if="${not #strings.isEmpty(user.desc)}" th:text="${user.desc}"></td>
      <!--<td>[[${user.location}]]</td>-->
      <td th:switch="${user.location}">
        <span th:case="BEIJING">北京</span>
        <span th:case="SHANGHAI">上海</span>
        <span th:case="TIANJIN">天津</span>
        <span th:case="WUHAN">武汉</span>
        <span th:case="SHENZHEN">深圳</span>
        <span th:case="*">未知</span>
      </td>
      <td>
        状态信息：内联表达式<br>
        下标：[[${state.index}]]<br>
        序号：[(${state.count})]<br>
        当前对象：[(${state.current})]<br>
        元素总数：[(${state.size})]<br>
        是否为偶数行：[(${state.even})]<br>
        是否为奇数行：[(${state.odd})]<br>
        是否是第一个元素：[(${state.first})]<br>
        是否是最后一个元素：[(${state.last})]<br>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<script th:src="@{'/script.js'}"></script>
</body>
</html>